$baseBlack: #454546;
$baseWhite: #fff;
$colorWhite: #ecf0f1;
$colorGreen: #27ae60;
$colorBlack: #2c3e50;
$colorBlue: #2980b9;
$colorRed: #c0392b;
$colorYellow: #f39c12;
$colorOrange: #d35400;
$colorGray: #bdc3c7;
$colorBrown: #795548; 
$blackColor: #454546;

$sidebarBgColor: #675A59;
$sidebarSecondBgColor: #BBB1B0;

$milkColor: #E3DBD9;