@import '_colors.scss';

//style font size
$smallFontSize: 14px;
$mediumFontSize: 16px;
$bigFontSize: 18px;

//default body style
$defaultFontFamily: sans-serif;
$defaultFontColor: $blackColor;
$defaultFontSize: $mediumFontSize;

